<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283796526092-t9v9f4e0r2j82oiteolvtrk9h73cpmab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283796526092-t9v9f4e0r2j82oiteolvtrk9h73cpmab</string>
	<key>API_KEY</key>
	<string>AIzaSyBR2WyXwpe8buKl-BBKzcDde6m8VRceHjc</string>
	<key>GCM_SENDER_ID</key>
	<string>283796526092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseThree</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-85507</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-85507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283796526092:ios:40d1aab4868ef7763d0a29</string>
</dict>
</plist>